<div [formGroup]="form" class="form">
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="First name"
            formControlName="firstName"
          />
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Last name" formControlName="lastName" />
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>
