body {
  background: #4f7bc7;
  color: white;
  font-family: sans-serif;
}

button {
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 10px 15px;
  margin-left: 15px;
  border-radius: 5px;
  color: white;
  background: #ff1e42;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #a8142c;
}

input {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid;
}

input::placeholder {
  color: #aaa;
}

.result {
  background: white;
  color: black;
  border-radius: 20px;
  padding: 12px;
  margin-top: 24px;
  filter: drop-shadow(0px 8px 5px black);
}

.result .name {
  color: grey;
}

.result .temp {
  font-size: 32px;
}

.result img {
  filter: drop-shadow(3px 8px 2px grey);
}

.result .description {
  color: grey;
}

footer {
  font-size: 12px;
  margin-top: 32px;
}

footer span {
  color: #ff1e42;
}
